# .env.example
# Configuración de Base de Datos
DB_USER=tu_usuario_de_postgres_aqui
DB_HOST=localhost
DB_NAME=nombre_de_tu_base_de_datos
DB_PASSWORD=tu_password_de_postgres_aqui
DB_PORT=5432

# Configuración de Autenticación JWT
JWT_SECRET=tu_clave_secreta_super_segura_minimo_32_caracteres_aqui

# Configuración del Servidor
PORT=3001