/* base.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-background: #1C2833;
    --color-foreground: #FDEBD0;
    --color-primary: #F39C12;
    --color-primary-foreground: #1C2833;

    --color-secondary: #3498DB;
    --color-secondary-foreground: #1C2833;
    --color-accent: #2C3E50;
    --color-accent-foreground: #FDEBD0;

    --color-card: #212F3C;
    --color-card-foreground: #FDEBD0;
    --color-popover: #212F3C;
    --color-popover-foreground: #FDEBD0;
    --color-muted: #2C3E50;
    --color-muted-foreground: #AAB7B8;

    --color-border: #2C3E50;
    --color-input: #2C3E50;
    --color-ring: #3498DB;

    --color-destructive: #E74C3C;
    --color-destructive-foreground: #FDEBD0;

    --chart-1: #F39C12;
    --chart-2: #3498DB;
    --chart-3: #E67E22;
    --chart-4: #5DADE2;
    --chart-5: #F5B041;

    --sidebar-background: #212F3C;
    --sidebar-foreground: #FDEBD0;
    --sidebar-primary: #F39C12;
    --sidebar-primary-foreground: #1C2833;
    --sidebar-accent: #F39C12;
    --sidebar-accent-foreground: #1C2833;
    --sidebar-border: #2C3E50;
    --sidebar-ring: #3498DB;

    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
